REST_COUNTRIES_BASE_URL=https://restcountries.com/v3.1

OPENTRIPMAP_API_KEY=your_opentripmap_api_key_here
OPENTRIPMAP_BASE_URL=https://api.opentripmap.com/0.1/en

WEATHER_API_KEY=your_weatherapi_key_here
WEATHER_API_BASE_URL=http://api.weatherapi.com/v1

APP_PORT=8080
APP_SECRET=your_random_secret_key_here

DEMO_USERNAME=beta
DEMO_PASSWORD=beta123